.people {
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    --columns: 2;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    align-items: center;
    justify-items: center;
    gap: 40px 30px;

    @media (min-width: 1000px) {
      --columns: 4;
    }
  }
}
