.person {
  box-sizing: border-box;
  font-family: Arial;
  transition: transform 1s;
  padding: 10px;
  position: relative;

  &:hover {
    background-color: $hover-bgc;
    border-radius: 12px;
    transform: scale(1.2);
    z-index: 10;
    .person__image {
      border-radius: 60px;
    }

    .person__extra {
      display: block;
      background-color: $hover-bgc;
      width: 100%;
    }
  }

  &__extra {
    margin-top: 8px;
    display: none;
    font-weight: 400;
    font-size: 18px;
    position: absolute;
    bottom: -25px;
    padding-bottom: 16px;
    border-radius: 0 0 12px 12px;
  }

  &__photo {
    position: relative;
  }

  &__image {
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    transition: border-radius 1s;
  }

  &__rank {
    position: absolute;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: white;
    right: 10px;
    top: 85px;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
  }

  &__name {
    margin-top: 8px;
    font-weight: 700;
    font-size: 20px;
    color: $primary-color;
  }

  &__sport::after {
    content: ",";
  }

  &__pay::before {
    content: "$";
  }

  &__pay::after {
    content: "M";
  }

  @for $i from 1 through 10 {
    &:nth-child(#{$i}) &__rank::after {
      content: "#{$i}";
      color: $secondary-color;
      font-weight: 700;
    }
  }
}
